[*]
indent_size = 2
tab_width = 2
ij_continuation_indent_size = 2
ij_java_doc_add_blank_line_after_description = true
ij_java_doc_add_blank_line_after_param_comments = true
ij_java_doc_add_blank_line_after_return = true

[{*.pom, *.xml}]
ij_xml_keep_blank_lines = 1