name: Release

on:
  push:
    tags: [ "*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate changelog
        id: changelog
        uses: metcalfc/changelog-generator@v4.6.2
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}
      - name: Save to CHANGELOG
        run: echo "${{ steps.changelog.outputs.changelog }}" > CHANGELOG.md

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 11
      - name: Build with Maven
        run: mvn -B install javadoc:javadoc

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: "BetterGUI"
          path: |
            ./target/bettergui*.jar
            CHANGELOG.md
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/reports/apidocs
      - name: Release
        uses: HSGamer/action-mcreleaser@main
        with:
          files: |
            target/bettergui-*-shaded.jar
            target/bettergui-*-@(sources|javadoc).jar
        env:
          DESCRIPTION: ${{ steps.changelog.outputs.changelog }}
          GAME_VERSIONS: "1.8..latest"

          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
          MODRINTH_PROJECT: SekuiXMA
          MODRINTH_LOADERS: |
            bukkit
            spigot
            paper
            purpur
            folia

          HANGAR_KEY: ${{ secrets.HANGAR_KEY }}
          HANGAR_PROJECT: BetterGUI
          HANGAR_PLATFORM: paper

          POLYMART_KEY: ${{ secrets.POLYMART_KEY }}
          POLYMART_RESOURCE: 16